<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>

    <add name="yuncairiyingsql" connectionString="Server=.;user id=sa;pwd=lmsh123789;database=yuncairiying;Integrated Security=false"/>
    <add name="yuncairiyingsspi" connectionString="Server=.;database=yuncairiying;Integrated Security=sspi"/>
    <add name="zhineng_shishicai" connectionString="Server=.;database=zhinengjihua;Integrated Security=sspi"/>
    <add name="zhineng_saiche" connectionString="Server=.;database=zhineng_saiche;Integrated Security=sspi"/>
    <add name="zhinengjihuanpg_saiche" connectionString="server=120.24.5.163;port=5432;database=sn;user=postgres;pwd=posT2016Gres"/>
    <add name="zhinengjihuanpgxin" connectionString="server=39.104.60.106;port=5432;database=sn;user=postgres;pwd=posT2016Gres"/>

  </connectionStrings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>

