<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Arachne.Dom" version="1.1.0.0" targetFramework="net46" />
  <package id="Arachne.Firefox" version="1.1.0.1" targetFramework="net46" />
  <package id="geckofx-core" version="33.0.5.1" targetFramework="net46" />
  <package id="MSBuild.NugetContentRestore" version="0.1.6" targetFramework="net46" />
  <package id="NuGet.Tessnet2" version="1.1.1" targetFramework="net46" />
  <package id="Selenium.Chrome.WebDriver" version="2.33" targetFramework="net46" />
  <package id="Selenium.Firefox.WebDriver" version="0.19.1" targetFramework="net46" />
  <package id="Selenium.PhantomJS.WebDriver" version="2.1.1" targetFramework="net46" />
  <package id="Selenium.RC" version="3.1.0" targetFramework="net46" />
  <package id="Selenium.Support" version="3.8.0" targetFramework="net46" />
  <package id="Selenium.WebDriver" version="3.8.0" targetFramework="net46" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.34.0" targetFramework="net46" />
  <package id="Selenium.WebDriver.IEDriver" version="3.8.0" targetFramework="net46" />
  <package id="Selenium.WebDriver.PhantomJS.CrossPlatform" version="2.1.1" targetFramework="net46" />
  <package id="Selenium.WebDriver.Server" version="3.0.1.1" targetFramework="net46" />
  <package id="Selenium.WebDriverBackedSelenium" version="3.8.0" targetFramework="net46" />
  <package id="WebDriver.ChromeDriver.win32" version="2.34.0" targetFramework="net46" />
</packages>